// About Us

.about-us {
  &.banner-wrap {
    .banner {
      background-image: image-url('RTG_about-us.jpg');
    }
  }

  .how-we-help {
    .block.-left {
      background-image: image-url('how-we-help.jpg');
      background-size: cover;
    }

    .-right {
      h3 {
        text-align: left;
        font-size: 0.8125em;
      }
      .slick-slide {
        > div {
          margin-top: 25px;
          text-align: center;
          &:first-of-type {
            margin-top: 0;
          }
          p {
            color: $brand-main;
          }
        }
      }
    }
    .stat-wrap {
      margin: 1em auto;
      @include clearfix();
    }
    p.stat-figure {
      font-size: 1.875em;
      vertical-align: top;
      @include font-bold();
      margin: 0 25px 25px 0;
      display: inline-block;
      border-bottom: 3px solid $brand-main;
    }
    .amount-raised {
      clear: left;
      p.stat-figure {
        margin: 0 0 12px;
      }
    }
    .description {
      margin-top: 0;
    }
    .icon-people {
      width: 72px;
      height: 84px;
      stroke: $brand-main;
    }
    .icon-building {
      width: 98px;
      height: 85px;
      stroke: $brand-main;
    }

    .demographics {
      h3 {
        margin-bottom: 25px;
      }
      &.age {
        margin-bottom: 20px;
        > div {
          width: 100%;
        }
      }
    }

    .income {
      .bar-chart {
        .bar {
          width: 200px;
        }
      }
    }

    // Bar graphs
    .bar-chart {
      width: 100%;
      color: $brand-main;
      font-size: 0.625em;
      th {
        width: 40px;
        text-align: right;
        white-space: nowrap;
        padding: 3px 6px 3px 0;
        vertical-align: baseline;
        border-right: 1px solid $black;
      }
      td {
        padding: 3px 0;
      }
      .bar {
        float: left;
        width: 500px;
        height: 12px;
        margin: 0 12px 0 6px;
        .bar-fill {
          float: left;
          width: 100%;
          max-width: 0;
          height: 12px;
          display: block;
          margin-right: 6px;
          background: $brand-main;
          transition: max-width 0.2s ease-out;
        }
        .bar-figure {
          float: left;
          display: inline-block;
        }
      }
    }

    // Circle Graphs
    .circle-graphs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .circle-graph {
      width: 100px;
      height: 100px;
      flex-basis: 125px;
      text-align: center;
      position: relative;
      margin-bottom: 25px;
      &:first-of-type {
        margin-left: 0;
      }
      div {
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        position: absolute;
        color: $brand-main;
        font-size: 0.6875em;
        @include font-bold();
        transform: translateY(-50%);
      }
    }
  }

  .praises {
    .-left {
      .-top-two-thirds {
        padding: 0;
        max-height: 400px;
      }
      .-bottom-third {
        padding: 0;
        min-height: 200px;
      }
    }
    #map {
      width: 100%;
      min-height: 200px;
    }
    // Hide Google terms of service/logo....yikes!
    a[href^="http://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }

    .-right {
      .praise {
        text-align: center;
        margin-bottom: 100px;
        .quote {
          color: $pink;
          font-size: 1.25em;
          @include font-bold();
          &::after {
            width: 100%;
            content: '';
            height: 1px;
            display: block;
            max-width: 100px;
            margin: 50px auto;
            @include dots($black);
          }
        }
        .quotee {
          margin: 0;
          color: $pink;
          font-size: 1.125em;
        }
        .title, .location {
          margin: 0;
          color: $black;
          font-size: 1.125em;
        }
      }
    }
  }

  .ourStory {
    .-image-cover {
      background: image-url('our-story.jpg') top center;
      background-size: cover;
    }
  }

  .theTeam {
    .-left {
      h3 {
        background: none;
        font-size: 3.375em;
      }
      h4 {
        margin: 0 auto;
        display: inline-block;
        padding-bottom: 0.25em;
        @include dots($white);
      }
    }
    .-right {
      h3 {
        margin-bottom: 0;
      }
      h4 {
        margin-top: 0.5em;
        color: $brand-main;
        font-size: 1.125em;
        padding-bottom: 0.5em;
        @include dots($black);
      }
    }
    .ourBoard {
      top: 100%;
      margin-top: -12px;
      position: absolute;
      background: $brand-main;
      span {
        margin-left: 1em;
        font-size: 1.125em;
        @include font-bold();
        padding-bottom: 0.25em;
        @include dots($white);
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    &.-bottom {
      position: relative;
      margin-bottom: 200px;
    }

    .block.-column .block-content.-image-cover {
      min-height: 300px;
    }

    .dawn {
      background: image-url('dh_converted.jpg');
    }
    .shannon {
      background: image-url('sm_converted.jpg');
    }
  }

  @include min-screen($bpMed) {
    .how-we-help {
      .-right {
        .slick-slide {
          > div {
            margin-top: 0;
            text-align: left;
          }
        }
      }
      p.stat-figure {
        float: left;
        font-size: 3.375em;
      }
      .individuals-served {
        padding-right: 20px;
      }
      .amount-raised {
        p.stat-figure {
          margin-bottom: 0;
          margin-right: 25px;
        }
      }
      .description{
        float: left;
        margin: 20px 0 0;
        font-size: 0.8125em;
        display: inline-block;
      }

      .income {
        .bar-chart {
          .bar {
            width: 500px;
          }
        }
      }
    }

    .praises {
      .-right {
        .praise {
          .quote {
            font-size: 2.25em;
          }
        }
      }
      #map {
        min-height: 400px;
      }
    }
  
    .theTeam {
      .ourBoard {
        top: auto;
        margin: 0;
        position: relative;
      }

      &.-bottom {
        margin-bottom: 0;
      }
    }
  }

  @include min-screen(1150px) {
    .how-we-help {
      .demographics {
        &.age {
          > div {
            width: 50%;
            float: left;
          }
        }
      }
    }
  }

  @include min-screen($bpBig) {
    .theTeam {
      .block.-column .block-content.-image-cover {
        min-height: 400px;
      }
    }
  }
}