// Apply Page

.apply {
  // Page-specific accordion block styles
  .accordion {
    .block-content {
      .accordion-content {
        p {
          color: $white;
        }
      }
    }
  }
  
  .intern-form {
    .pane-1 {
      .btn {
        margin-top: 25px;
      }
    }
  }

  .volunteer-form {
    .btn {
      margin-top: 50px;
    }
    .pane-1 {
      .btn {
        margin-top: 25px;
      }
    }
  }

  @include min-screen($bpMed) {
    .intern-form, .volunteer-form {
      .pane-1 {
        .one-half-left {
          padding-right: 50px;
        }
      }
    }
  }
}