// Apply Page

.apply {
  // Page-specific accordion block styles
  .accordion {
    .block-content {
      .accordion-content {
        p {
          color: $white;
        }
      }
    }
  }
  
  .intern-form {
    .pane-1 {
      .btn {
        margin-top: 50px;
      }

      .one-half-left {
        padding-right: 50px;
      }
      // .one-half-right.full-bleed {
      //   position: absolute;
      //   background: image-url('RTG_intern.jpg') no-repeat;
      //   background-size: cover;
      // }
    }
  }

  .volunteer-form {
    .btn {
      margin-top: 50px;
    }
    .pane-1 {
      .one-half-left {
        padding-right: 50px;
      }
      // .one-half-right.full-bleed {
      //   position: absolute;
      //   background: image-url('RTG_volunteer.jpg') no-repeat;
      //   background-size: cover;
      // }
    }
  }
}