// Apply Page

.apply {
  &.banner-wrap {
    .banner {
      background-image: image-url('RTG_apply.jpg');
    }
  }
  
  // Page-specific accordion block styles
  .accordion {
    .block-content {
      .accordion-content {
        p {
          color: $white;
        }
      }
    }
  }
  
  .intern-form {
    .pane-1 {
      .one-half-left {
        min-height: 400px;
        .btn {
          margin-top: 50px;
        }
      }
      .one-half-right {
        position: absolute;
        background: image-url('RTG_intern.jpg') no-repeat;
        background-size: cover;
      }
    }
  }

  .volunteer-form {
    .pane-1 {
      .one-half-left {
        min-height: 400px;
        .btn {
          margin-top: 50px;
        }
      }
      .one-half-right {
        position: absolute;
        background: image-url('RTG_volunteer.jpg') no-repeat;
        background-size: cover;
      }
    }
  }
}