// Get Involved Page

.get-involved {
  &.banner-wrap {
    .banner {
      background-image: image-url('RTG_get-involved.jpg');
    } 
  }
  
  // Page-specific accordian block styles
  .accordian {
    .block-content {
      .accordian-content {
        p {
          color: $white;
        }
      }
    }
  }

  .intern-form {
    .pane-1 {
      .one-half-left {
        min-height: 400px;
        .btn {
          margin-top: 50px;
        }
      }
      .one-half-right {
        position: absolute;
        background: image-url('RTG_intern.jpg') no-repeat;
        background-size: cover;
      }
    }
  }

  .volunteer-form {
    .pane-1 {
      .one-half-left {
        min-height: 400px;
        .btn {
          margin-top: 50px;
        }
      }
      .one-half-right {
        position: absolute;
        background: image-url('RTG_volunteer.jpg') no-repeat;
        background-size: cover;
      }
    }
  }
}