// Get Involved Page

.get-involved {
  &.banner-wrap {
    .banner {
      background-image: image-url('RTG_get-involved.jpg');
    } 
  }
  
  // Page-specific accordion block styles
  .accordion {
    .block-content {
      .accordion-content {
        .btn {
          margin-top: 25px;
        }
        p {
          color: $white;
        }
      }
    }
  }

  .intern-form {
    .pane-1 {
      .one-half-left {
      }
      .one-half-right.full-bleed {
        min-height: 400px;
        position: absolute;
        background: image-url('RTG_intern.jpg') no-repeat;
        background-size: cover;
      }
    }
  }

  .volunteer-form {
    .pane-1 {
      .one-half-left {
      }
      .one-half-right.full-bleed {
        min-height: 400px;
        position: absolute;
        background: image-url('RTG_volunteer.jpg') no-repeat;
        background-size: cover;
      }
    }
  }
}