// Home

.home {
  .intro {
    .-right {
      .-image-cover {
        background: image-url('RTG_whatwedo.jpg');
        background-size: cover;
      }
    }
  }
  .ways-to-get-involved {
    .-left {
      text-align: center;
      background: image-url('home_get-involved.jpg');
      background-size: cover;
      .block-content {
        margin: 0 auto;
      }
    }

    .form {
      .donate {
        .text-input {
          width: 100%;
          max-width: none;
        }
        .submit {
          margin-left: 0;
          margin-top: -2px;
        }
      }
    }
  }

  @include min-screen($bpMed) {
    .slider-wrap {
      height: 100%;
    }

    .intro {
      .-right {
        .block-content {
          min-height: 245px;
          &.-image-cover {
            min-height: 250px;
          }
        }
      }
    }
  }

  @include min-screen(960px) {
    .ways-to-get-involved {
      .form {
        .donate {
          .text-input {
            max-width: 180px;
          }
          .submit {
            margin-top: 0;
            margin-left: -2px;
          }
        }
      }
    }
  }

  @include min-screen($bpBig) {
    .intro {
      .-right {
        .block-content {
          &.-image-cover {
            min-height: 350px;
          }
        }
      }
    }
  }
}