// Reason + Success Story pages

.success-stories,
.reason {
  .support {
    .-top-half {
      flex-grow: 0;
    }
    p {
      @include font-bold();
    }
    form {
      margin: 1em 0;
    }
    .share {
      margin-top: 1em;
    }
    .block-content.-image-cover {
      max-height: none;
    }
  }

  .reason-content {
    .block-content {
      margin: 0 auto;
    }
  }

  .reasons-slider {
    .reason-block {
      img {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  // When there is only one reason
  &.one-reason {
    .feature-slider .slick-list, .feature-slider .slick-track {
      height: 100% !important;
    }
    .feature-slider, .slider-wrap {
      height: 100%;
    }
    .scroll-down {
      display: none;
    }
  }

  @include min-screen(600px) {
    .reasons-slider {
      overflow: hidden;
      .slick-list {
        margin: 0 -12.5px;
      }
      .slick-track {
        display: flex;
      }
      .reason-block {
        height: auto;
        display: flex;
        margin: 0 12.5px;
        a {
          height: auto;
        }
      }
    }
  }

  @include min-screen($bpMed) {
    .support {
      .share {
        margin-top: 50px;
      }
    }
  }
}