// Reason + Success Story pages

.success-stories,
.reason {
  .support {
    p {
      @include font-bold();
    }
    form {
      margin: 1em 0;
    }
    .share {
      margin-top: 1em;
    }
    .block-content.-image-cover {
      max-height: none;
    }
  }

  @include min-screen(600px) {
    .reasons-slider {
      .slick-track {
        display: flex;
      }
      .reason-block {
        height: auto;
        display: flex;
        a {
          height: auto;
        }
      }
    }
  }

  @include min-screen($bpMed) {
    .support {
      .share {
        margin-top: 50px;
      }
    }
  }
}