// Give Page

.success-stories {
  &.banner-wrap {
    .banner {
      background-image: image-url('RTG_reason4.jpg');
      .story-link {
        width: 100%;
        height: 100%;;
      }
    }
  }

  @include min-screen(600px) {
    .reasons-slider {
      .slick-track {
        display: flex;
      }
      .reason-block {
        height: auto;
        display: flex;
        a {
          height: auto;
        }
      }
    }
  }
}