// Thank You

.thank-you {
  .share {
    p {
      max-width: 360px;
    }
    .links a {
      width: auto;
      display: inline-block;
      padding-bottom: 0.25em;
      @include dots($white);
    }
    .icon {
      fill: $white;
      display: inline;
      line-height: 1em;
      vertical-align: text-bottom;
    }
    .twitter {
      .icon-twitter {
        width: 14px;
        height: 1em;
      }
    }
    .facebook {
      padding-left: 1px;
      .icon-facebook {
        width: 11px;
        height: 1em;
        margin-right: 4px;
      }
    }
  }
  
  .feature-slider {
    .feature {
      img {
        left: 50%;
        width: auto;
        max-width: none;
        min-height: 100%;
        max-height: 100%;
        position: relative;
        transform: translateX(-50%);
        @include min-screen($bpMed) {
          left: 0;
          width: 100%;
          min-height: 1px;
          transform: none;
          max-height: none;
        }
      }
      &.slick-active {
        .feature-content {
          display: block;
          h2 {
            margin: 0 auto;
          }
          .progress-bar {
            float: none;
            margin: 20px auto;
          }
        }
      }
    }
  }


  @include min-screen($bpMed) {
    .share {
      .links {
        display: inline-block;
        .facebook {
          margin-left: 2em;
        }
      }
    }
  }
}