<div class="blocks intro">
  <div class="block -left -gray">
    <article class="block-content">
      <h1><%= @applicant.first_name %></h1>
      <%= simple_format @applicant.params %>
    </article>
  </div>
</div>
