//base styles
*, *::before, *::after {
 box-sizing: border-box;
}

html {
  height: 100%;
  background: $noise;
}

body {
  height: 100%;
  color: $black;
	font-size: 16px; //Em base unit
	font-size: 100%;
  overflow-x: hidden;
  @include font-reg();
	@include font-smoothing(antialiased);
  transition: margin-top .5s;
  &.has-flash {
    margin-top: 85px;
  }
}

a {
	color: inherit;
  text-decoration: none;
}

img {
  height: auto;
	max-width: 100%;
}

p {
  font-size: 0.625em;
}

strong {
  @include font-bold();
}

h1, h2, h3, h4 {
  @include font-bold();
}

::selection {
  color: $white;
  background: $brand-main;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
  @include clearfix();
}

// Utilities
.hide {
  display: none;
}

.screen-reader {
  top: auto;
  width: 1px;
  height: 1px;
  left: -999999px;
  overflow: hidden;
  position: absolute;
}

.flash {
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  position: fixed;
  min-height: 85px;
  text-align: center;
  background: $brand-main;
  animation-name: flipInX;
  animation-duration: 0.8s;
  box-shadow: 0 3px 4px rgba(0,0,0,0.1);
  p {
    width: 100%;
    margin: auto;
    padding: 12px 30px;
    font-size: 1em;
    color: #fff;
  }
  .close {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px;
  }
}

main {
  padding: 0 0 12px;
  transition: padding 0.2s ease-out;
}

.body-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  &.unfocus {
    overflow: hidden;
    &::before {
      opacity: 1;
      display: block;
    }
  }
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    content: '';
    display: none;
    position: fixed;
    background: $sheer3;
    transition: opacity 0.2s ease-out;
  }
}

@include min-screen($bpMed) {
  p {
    font-size: 1.125em;
  }

  .wrap {
    padding: 0 25px;
  }

  main {
    padding: 0 0 25px;
  }
}

.edit-bug {
  display: none;
  &.active {
    display: block;
  }
}
