// IE Fixes

.no-flexbox {
  .blocks {
    width: 100%;
    display: table;
  }
  .block,
  .block.-unflex {
    display: table-cell;
  }

  .-noflex {
    display: block;
    .block {
      float: left;
      display: block;
    }
  }


  @include max-screen($bpMed) {
    .blocks {
      display: block !important;
    }
    .block {
      display: block !important;
    }
  }
}