// IE Fixes

.no-flexbox {
  .blocks {
    width: 100%;
    display: table;
  }
  .block,
  .block.-noflex {
    display: table-cell;
  }

  // What We Do Page
  .what-we-do {
    #educationalNeeds, 
    #success {
      display: block;
      .block {
        float: left;
        display: block;
      }
    }
  }

  // About Us Page
  .about-us {
    .how-we-help,
    .praises {
      display: block;
      .block {
        float: left;
        display: block;
      }
    }
  }

  @include max-screen($bpMed) {
    .blocks {
      display: block;
    }
    .block {
      display: block;
    }
  }
}