// Typography

// Fonts
@mixin font-reg() {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', Helvetica, sans-serif;
}
@mixin font-bold() {
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

//sizes
$small: 0.5em;
$med: 1em;
$big: 3em;