<div class="cart" id="cart">

  <form action="" class="checkout -pink">
  
    <div class="cart-review cart-stage -pink">
      <a href="#" class="cart-close"><span class="screen-reader">close the shopping cart</span><span class="x -white"></a>
      <h3>Your Cart</h3>
      <div class="cart-items-wrap">
        <%= render :partial => "carts/show" -%>
      </div>
      <div class="actions">
        <a href="#checkout" class="btn -white -hollow stage-submit checkout-toggle">Checkout</a>
      </div>
    </div>

    <div class="cart-checkout cart-stage -gray">
      <a href="#" class="cart-close"><span class="screen-reader">close the shopping cart</span><span class="x"></a>
      <h3>Contact Information</h3>
      <div class="form-group">
        <label for="checkoutFirstName">First Name*</label>
        <input type="text" name="checkoutFirstName" id="checkoutFirstName" required="true">
      </div>
      <div class="form-group">
        <label for="checkoutLastName">Last Name*</label>
        <input type="text" name="checkoutLastName" id="checkoutLastName" required="true">
      </div>
      <div class="form-group">
        <label for="checkoutEmail">Email Address*</label>
        <input type="email" name="checkoutEmail" id="checkoutEmail" required="true">
      </div>
      <div class="form-group">
        <label for="checkoutSource" class="select-wrapper">
          <legend>How did you find out about Reason To Give?</legend>
          <div class="button custom-select ff-hack">
          <select name="checkoutSource" id="checkoutSource">
            <option value="null"></option>
            <option value="checkoutSourceLink">Link From Another Site</option>
            <option value="checkoutSourceBlog">Blog Post</option>
            <option value="checkoutSourceFlyer">Flyer</option>
            <option value="checkoutSourceRadio">Radio Spot</option>
            <option value="checkoutSourceArticle">Article</option>
            <option value="checkoutSourceFriend">From A Friend</option>
            <option value="checkoutSourceOther">Other</option>
          </select>
          </div>
        </label>
      </div>
      <div class="form-group">
        <fieldset>
          <input type="checkbox" name="checkoutNewsletter" id="checkoutNewsletter" value="subscribeToNewsletter">
          <label class="custom-checkbox" for="checkoutNewsletter">Would you like to recieve our newsletter?</label>
        </fieldset>
      </div>
      <div class="actions">
        <a href="#payment" class="btn -pink -hollow stage-submit payment-toggle">Payment</a>
      </div>
    </div>

    <div class="cart-payment cart-stage -gray">
      <a href="#" class="cart-close"><span class="screen-reader">close the shopping cart</span><span class="x"></a>
      <h3>Payment</h3>
      <div class="form-group">
        <label for="checkoutCCNum">Card Number*</label>
        <input type="text" class="cc-num" name="checkoutCCNum" id="checkoutCCNum" placeholder="#### #### #### ####" required="true">
      </div>
      <div class="form-group">
        <label for="checkoutCCExp">Expiration Date*</label>
        <input type="text" class="cc-exp" name="checkoutCCExp" id="checkoutCCExp" placeholder="MM / YY" required="true">
      </div>
      <div class="form-group">
        <label for="checkoutCCCvc">CVC*</label>
        <input type="text" class="cc-cvc" name="checkoutCCCvc" id="checkoutCCCvc" placeholder="###" required="true">
      </div>
      <div class="form-group">
        <label for="checkoutCCZip">Zip/Postal Code*</label>
        <input type="text" class="cc-zip" name="checkoutCCZip" id="checkoutCCZip" placeholder="#####" required="true">
      </div>
      <div class="actions">
        <input type="submit" class="submit cart-submit btn -pink -hollow" value="Donate">
      </div>
    </div>

  </form>
</div>