      <p><strong>Why not support what we do<br> by giving whatever you can:</strong></p>
      <form action="" class="donate">
        <input class="text-input" type="number" placeholder="$25">
        <input type="submit" class="submit btn -white" value="Donate Now!">
      </form>
