    <span class="hide defs"><?php include_once("svg-defs.svg"); ?></span>
    <header class="header_main" role="banner">
      <div class="wrap">
        <h1 class="logo">
          <span class="screen-reader">Reason to Give</span>
          <a href="/"><svg class="icon icon-rtg_logo" role="img" aria-labelledby="title"><use xlink:href="#icon-rtg_logo"></use></svg></a>
        </h1>
        <nav class="nav_main" role="navigation">
          <div class="menu-toggle">
            <span>Menu</span>
            <div class="cart-item-count">1</div>
          </div>
          <ul class="menu">
            <li><a href="educational-programs"><span>Educational Programs</span></a></li>
            <li><a href="get-involved"><span>Get Involved</span></a></li>
            <li><a href="give"><span>Give</span></a></li>
            <li><a href="success-stories"><span>Success Stories</span></a></li>
            <li><a href="apply"><span>Apply</span></a></li>
            <li><a href="about-us"><span>About Us</span></a></li>
            <li><a href="news"><span>News</span></a></li>
            <li class="shopping-cart">
              <a href="#"><svg class="icon icon-cart" role="img" aria-labelledby="title"><use xlink:href="#icon-cart"></use></svg></a>
              <span class="cart-item-count">1</span>
            </li>
          </ul>
        </nav>
      </div>
    </header>