    <header class="header_main" role="banner">
      <div class="wrap">
        <h1 class="logo">
          <span class="screen-reader">Reason to Give</span>
          <a href="/"><svg class="icon icon-rtg_logo" role="img"><use xlink:href="#icon-rtg_logo"></use></svg></a>
        </h1>
        <nav class="nav_main" role="navigation">
          <div class="menu-toggle">
            <span>Menu</span>
            <div class="cart-item-count"><%= @cart.count %></div>
          </div>
          <ul class="menu">
            <%= yield :edit_link %>
            <li class="what-we-do"><a href="/what-we-do"><span>What We Do</span></a></li>
            <li class="get-involved"><a href="/get-involved"><span>Get Involved</span></a></li>
            <li class="give"><a href="/give"><span>Give</span></a></li>
            <li class="success-stories"><a href="/success-stories"><span>Success Stories</span></a></li>
            <li class="apply"><a href="/apply"><span>Apply</span></a></li>
            <li class="about-us"><a href="/about-us"><span>About Us</span></a></li>
            <li class="news"><a href="/news"><span>News</span></a></li>
            <li class="shopping-cart">
              <a href="#" class="cart-toggle"><svg class="icon icon-cart" role="img"><use xlink:href="#icon-cart"></use></svg></a>
              <span class="cart-item-count"></span>
            </li>
          </ul>
        </nav>
      </div>
    </header>