    <form action="//firebellydesign.us9.list-manage.com/subscribe/post-json?u=1932df0a20bd716fbbecce7db&amp;id=c31b5b6967&amp;c=?" method="post" name="mc-embedded-subscribe-form" class="newsletter donate -pink" target="_blank">
        <label for="mce-EMAIL" class="screen-reader">Email</label>
        <input type="email" value="" name="EMAIL" class="text-input" placeholder="name@email.com" required>
        <!-- die bots --><div style="position: absolute; left: -5000px;"><input type="text" name="b_1932df0a20bd716fbbecce7db_c31b5b6967" tabindex="-1" value=""></div>
        <input name="subscribe" type="submit" class="submit btn -pink" value="Sign Up!">
    </form>
