<%= content_for :page_title, 'Thanks!' %>

<%= content_for :featured do %>
<div class="wrap slider-wrap thank-you">
  <div class="feature-slider">
    <%= render partial: "reasons/thanks", collection: @reasons, as: :reason -%>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img" aria-labelledby="title"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>
