<%= content_for :page_title, @page.title %>

<%= content_for :featured do %>
<div class="wrap banner-wrap get-involved">
  <div class="banner">
    <div class="banner-content">
      <h2>How You Can<br> Get Involved</h2>
    </div>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img" aria-labelledby="title"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>

<div class="blocks">
  <div class="block -left -gray">
    <div class="block-content">
      <%= raw @page.content %>
    </div>
  </div>
  <div class="block -right -pink block-slider image-slide">
    <div class="block-content image-slide">
      <div class="block-image-slider0">
        <div class="item">
          <img src="/assets/RTG_lending-a-hand.jpg" alt="Educational Needs">
          <div class="slider-caption">
            <p>Erie Classroom Makeover Project 2014</p>
          </div>
        </div>  
        <div class="item">
          <img src="/assets/RTG_lending-a-hand.jpg" alt="Educational Needs">
          <div class="slider-caption">
            <p>Another project</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blocks -column">
  <div class="block accordian -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Corporations</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <form action="" class="-full">
            <div class="form-group">
              <div class="one-half-left">
                <label for="businessName">Business Name*</label>
                <input type="text" name="corporationName" id="corporationName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="corporationEmail">Email Address*</label>
                <input type="email" name="corporationEmail" id="corporationEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="corporationSubject">Subject*</label>
              <input type="text" name="corporationSubect" id="corporationSubject" required="true">
            </div>
            <div class="form-group">
              <label for="corporationMessage">Message*</label>
              <textarea name="corporationMessage" id="corporationMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="block accordian -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Small Business</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <form action="" class="-full">
            <div class="form-group">
              <div class="one-half-left">
                <label for="businessName">Business Name*</label>
                <input type="text" name="businessName" id="businessName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="businessEmail">Email Address*</label>
                <input type="email" name="businessEmail" id="businessEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="businessSubject">Subject*</label>
              <input type="text" name="businessSubect" id="businessSubject" required="true">
            </div>
            <div class="form-group">
              <label for="businessMessage">Message*</label>
              <textarea name="businessMessage" id="businessMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="block accordian -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Foundations</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <form action="" class="-full">
            <div class="form-group">
              <div class="one-half-left">
                <label for="foundationName">Foundation Name*</label>
                <input type="text" name="foundationName" id="foundationName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="foundationEmail">Email Address*</label>
                <input type="email" name="foundationEmail" id="foundationEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="foundationSubject">Subject*</label>
              <input type="text" name="foundationSubect" id="foundationSubject" required="true">
            </div>
            <div class="form-group">
              <label for="foundationMessage">Message*</label>
              <textarea name="foundationMessage" id="foundationMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          </form>
        </div>                  
      </div>
    </div>
  </div>
  <div class="block accordian -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Community Partners</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <form action="" class="-full">
            <div class="form-group">
              <div class="one-half-left">
                <label for="communityPartnerName">Partnership Name*</label>
                <input type="text" name="communityPartnerName" id="communityPartnerName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="communityPartnerEmail">Email Address*</label>
                <input type="email" name="communityPartnerEmail" id="communityPartnerEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="communityPartnerSubject">Subject*</label>
              <input type="text" name="communityPartnerSubect" id="communityPartnerSubject" required="true">
            </div>
            <div class="form-group">
              <label for="communityPartnerMessage">Message*</label>
              <textarea name="communityPartnerMessage" id="communityPartnerMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          </form>
        </div>                  
      </div>
    </div>
  </div>
  <div class="block accordian -last -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Individuals</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <form action="" class="-full">
            <div class="form-group">
              <div class="one-half-left">
                <label for="individualName">Name*</label>
                <input type="text" name="individualName" id="individualName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="individualEmail">Email Address*</label>
                <input type="email" name="individualEmail" id="individualEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="individualSubject">Subject*</label>
              <input type="text" name="individualSubect" id="individualSubject" required="true">
            </div>
            <div class="form-group">
              <label for="individualMessage">Message*</label>
              <textarea name="individualMessage" id="individualMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          </form>
        </div>                  
      </div>
    </div>
  </div>
</div>

<div class="blocks -column">
  <div class="block intern-form accordian -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Intern</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-document" role="img"><use xlink:href="#icon-document"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="panes">
          <div class="pane pane-1 active">
            <div class="one-half-left">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta dignissimos ab beatae quod harum! Eos ipsam animi autem tenetur quo voluptas, cumque, molestias sit hic ex dolorum repellendus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At maxime, odit beatae natus odio porro explicabo voluptatem excepturi pariatur, saepe officia ab commodi. Illum odit veritatis repudiandae, quo eveniet dolorem?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis laborum blanditiis odio at aperiam tempora incidunt officiis unde! Error distinctio unde quas quibusdam sapiente necessitatibus accusantium dicta itaque, alias.</p>
              <a href="#" class="pane-advance btn -white -hollow -wider">Apply</a>
            </div>
            <div class="one-half-right full-bleed">
            </div>
          </div>
          <div class="pane pane-2">
            <form action="" class="-full pane-form">
              <div class="one-half-left">
                <h4>Contact Information</h4>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internFirstName">First Name*</label>
                    <input type="text" name="internFirstName" id="internFirstName" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internLastName">Last Name*</label>
                    <input type="text" name="internLastName" id="internLastName" required="true">
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internCell">Cell Phone*</label>
                    <input type="tel" name="internCell" id="internCell" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internPhone">Home Phone</label>
                    <input type="text" name="internPhone" id="internPhone">
                  </div>
                </div>
                <div class="form-group">
                  <label for="internEmail">Email Address*</label>
                  <input type="email" name="internEmail" id="internEmail" required="true">
                </div>
                <div class="form-group">
                  <label for="internAddress">Street Address (Include Apt #)*</label>
                  <input type="email" name="internEmail" id="internEmail" required="true">
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internCityState">City & State*</label>
                    <input type="text" name="internCityState" id="internCityState" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internZip">Zip Code*</label>
                    <input type="number" name="internZip" id="internZip" required="true">
                  </div>
                </div>
              </div>
              <div class="one-half-right">
              <h4>Demographic Information</h4>
              <p class="instructions">All answers will be used for statistical purposes only and will not affect your acceptance into the program</p>
                <div class="form-group">
                  <div class="one-fourth-left">
                    <label for="internAge">Age*</label>
                    <input type="number" name="internAge" id="internAge" required="true">
                  </div>
                  <div class="three-fourths-right">
                    <fieldset>
                      <legend>Gender*</legend>
                      <input type="radio" name="internGender" id="internGenderMale" value="male" required>
                      <label class="custom-radio" for="internGenderMale">Male</label>
                      <input type="radio" name="internGender" id="internGenderFemale" value="female" required>
                      <label class="custom-radio" for="internGenderFemale">Female</label>
                      <input type="radio" name="internGender" id="internGenderNeutral" value="neutral" required>
                      <label class="custom-radio" for="internGenderNeutral">Gender Neutral</label>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internMaritialStatus" class="select-wrapper">
                      <legend>Maritial Status*</legend>
                      <div class="button custom-select ff-hack">
                      <select name="internMaritialStatus" id="internMaritialStatus">
                        <option value="null"></option>
                        <option value="maritialSingle">Single</option>
                        <option value="maritialMarried">Married</option>
                      </select>
                      </div>
                    </label>
                  </div>
                  <div class="one-half-right">
                    <label for="internEthnicity" class="select-wrapper">
                      <legend>Ethnicity*</legend>
                      <div class="button custom-select ff-hack">
                      <select name="internEthnicity" id="internEthnicity">
                        <option value="null"></option>
                        <option value="ethnicityAfrican">African</option>
                        <option value="ethnicityAsian">Asian</option>
                        <option value="ethnicityEuropean">European</option>
                        <option value="ethnicityNativeAmerican">Native American</option>
                        <option value="ethnicityLatino">Latino</option>
                        <option value="ethnicityOther">Other</option>
                      </select>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internIncome">Annual Household Income*</label>
                    <input type="number" name="internIncome" id="internIncome" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internEmploymentStatus">Current Employment Status*</label>
                    <input type="text" name="internEmploymentStatus" id="internEmploymentStatus">
                  </div>
                </div>
                <div class="form-group">                            
                  <label for="internEducation" class="select-wrapper">
                    <legend>Highest Level of Education Completed*</legend>
                    <div class="button custom-select ff-hack">
                    <select name="internEducation" id="internEducation">
                      <option value="null"></option>
                      <option value="educationPrimary">Primary School</option>
                      <option value="educationHighSchool">High School or GED</option>
                      <option value="educationBachelors">Bachelor's Degree</option>
                      <option value="educationMasters">Master's Degree</option>
                      <option value="educationDoctorate">Doctorate</option>
                    </select>
                    </div>
                  </label>
                </div>
                <input type="submit" value="submit" class="btn -white submit">
              </div>
            </form>
            <a href="#" class="pane-devance btn -white -hollow">back</a>
          </div>
        </div>                  
      </div>
    </div>
  </div>
  <div class="block volunteer-form accordian -last -full -gray">
    <div class="block-content">
      <div class="accordian-trigger">
        <h3>Volunteer</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-document" role="img"><use xlink:href="#icon-document"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordian-content">
        <div class="panes">
          <div class="pane pane-1 active">
            <div class="one-half-left">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta dignissimos ab beatae quod harum! Eos ipsam animi autem tenetur quo voluptas, cumque, molestias sit hic ex dolorum repellendus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At maxime, odit beatae natus odio porro explicabo voluptatem excepturi pariatur, saepe officia ab commodi. Illum odit veritatis repudiandae, quo eveniet dolorem?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis laborum blanditiis odio at aperiam tempora incidunt officiis unde! Error distinctio unde quas quibusdam sapiente necessitatibus accusantium dicta itaque, alias.</p>
              <a href="#" class="pane-advance btn -white -hollow -wider">Apply</a>
            </div>
            <div class="one-half-right full-bleed">
            </div>
          </div>
          <div class="pane pane-2">
            <form action="" class="-full pane-form">
              <div class="one-half-left">
                <h4>Contact Information</h4>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="volunteerFirstName">First Name*</label>
                    <input type="text" name="volunteerFirstName" id="volunteerFirstName" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="volunteerLastName">Last Name*</label>
                    <input type="text" name="volunteerLastName" id="volunteerLastName" required="true">
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="volunteerCell">Cell Phone*</label>
                    <input type="tel" name="volunteerCell" id="volunteerCell" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="volunteerPhone">Home Phone</label>
                    <input type="text" name="volunteerPhone" id="volunteerPhone">
                  </div>
                </div>
                <div class="form-group">
                  <label for="volunteerEmail">Email Address*</label>
                  <input type="email" name="volunteerEmail" id="volunteerEmail" required="true">
                </div>
                <div class="form-group">
                  <label for="volunteerAddress">Street Address (Include Apt #)*</label>
                  <input type="email" name="volunteerEmail" id="volunteerEmail" required="true">
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="volunteerCityState">City & State*</label>
                    <input type="text" name="volunteerCityState" id="volunteerCityState" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="volunteerZip">Zip Code*</label>
                    <input type="number" name="volunteerZip" id="volunteerZip" required="true">
                  </div>
                </div>
              </div>
              <div class="one-half-right">
              <h4>Demographic Information</h4>
              <p class="instructions">All answers will be used for statistical purposes only and will not affect your acceptance into the program</p>
                <div class="form-group">
                  <div class="one-fourth-left">
                    <label for="volunteerAge">Age*</label>
                    <input type="number" name="volunteerAge" id="volunteerAge" required="true">
                  </div>
                  <div class="three-fourths-right">
                    <fieldset>
                      <legend>Gender*</legend>
                      <input type="radio" name="volunteerGender" id="volunteerGenderMale" value="male" required>
                      <label class="custom-radio" for="volunteerGenderMale">Male</label>
                      <input type="radio" name="volunteerGender" id="volunteerGenderFemale" value="female" required>
                      <label class="custom-radio" for="volunteerGenderFemale">Female</label>
                      <input type="radio" name="volunteerGender" id="volunteerGenderNeutral" value="neutral" required>
                      <label class="custom-radio" for="volunteerGenderNeutral">Gender Neutral</label>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="volunteerMaritialStatus" class="select-wrapper">
                      <legend>Maritial Status*</legend>
                      <div class="button custom-select ff-hack">
                      <select name="volunteerMaritialStatus" id="volunteerMaritialStatus">
                        <option value="null"></option>
                        <option value="maritialSingle">Single</option>
                        <option value="maritialMarried">Married</option>
                      </select>
                      </div>
                    </label>
                  </div>
                  <div class="one-half-right">
                    <label for="volunteerEthnicity" class="select-wrapper">
                      <legend>Ethnicity*</legend>
                      <div class="button custom-select ff-hack">
                      <select name="volunteerEthnicity" id="volunteerEthnicity">
                        <option value="null"></option>
                        <option value="ethnicityAfrican">African</option>
                        <option value="ethnicityAsian">Asian</option>
                        <option value="ethnicityEuropean">European</option>
                        <option value="ethnicityNativeAmerican">Native American</option>
                        <option value="ethnicityLatino">Latino</option>
                        <option value="ethnicityOther">Other</option>
                      </select>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="volunteerIncome">Annual Household Income*</label>
                    <input type="number" name="volunteerIncome" id="volunteerIncome" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="volunteerEmploymentStatus">Current Employment Status*</label>
                    <input type="text" name="volunteerEmploymentStatus" id="volunteerEmploymentStatus">
                  </div>
                </div>
                <div class="form-group">                            
                  <label for="volunteerEducation" class="select-wrapper">
                    <legend>Highest Level of Education Completed*</legend>
                    <div class="button custom-select ff-hack">
                    <select name="volunteerEducation" id="volunteerEducation">
                      <option value="null"></option>
                      <option value="educationPrimary">Primary School</option>
                      <option value="educationHighSchool">High School or GED</option>
                      <option value="educationBachelors">Bachelor's Degree</option>
                      <option value="educationMasters">Master's Degree</option>
                      <option value="educationDoctorate">Doctorate</option>
                    </select>
                    </div>
                  </label>
                </div>
                <input type="submit" value="submit" class="btn -white submit">
              </div>
            </form>
            <a href="#" class="pane-devance btn -white -hollow">back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "/shared/affiliates", locals: { affiliates: ["partners", "sponsors", "featured"]} -%>
