SECRET_KEY_BASE: xxx

EMAILS_TO: developer@firebellydesign.com
EMAILS_FROM: info@reasontogive.com

SMTP_USER_NAME:
SMTP_PASSWORD:

BRAINTREE_MERCHANT_ID:
BRAINTREE_PUBLIC_KEY:
BRAINTREE_PRIVATE_KEY:
BRAINTREE_ENVIRONMENT:

MAILCHIMP_API_KEY:
MAILCHIMP_LIST_ID:

SQL_USER: root
SQL_PASSWORD: root
