// Blocks

.blocks {
  margin-bottom: 12px;
  @include clearfix();
  &.-column {
    padding: 0;
    flex-direction: column;
  }
}
.block {
  width: 100%;
  padding: 24px;
  // Abort Flex!
  &.-unflex {
    display: block;
  }
  &.related-block {
    position: relative;
    @include min-screen($bpMed) {
      &.-left {
        &::after {
          top: 50%;
          left: 100%;
          z-index: 1;
          content: '';
          position: absolute;
          transform: translateY(-50%);
          border-left: 11px solid #f6f6f6;
          border-top: 11px solid transparent;
          border-bottom: 11px solid transparent;
        }
      }
      &.-right {
        &::before {
          top: 50%;
          z-index: 1;
          right: 100%;
          content: '';
          position: absolute;
          transform: translateY(-50%);
          border-right: 11px solid #f6f6f6;
          border-top: 11px solid transparent;
          border-bottom: 11px solid transparent;
        }
      }
    }
  }
  .block-content {
    width: 100%;
    h3 {
      margin-top: 0;
      font-size: 1.125em;
      margin-bottom: 0.25em;
      padding-bottom: 0.25em;
      @include dots($black);
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        position: relative;
        &::before {
          left: 0;
          content: '';
          width: 0.4em;
          height: 0.4em;
          top: -0.2em;
          background: $brand-main;
          border-radius: 50%;
          position: relative;
          margin-right: 0.5em;
          display: inline-block;
        }
      }
    }
    .social-link {
      @include dots($white);
    }
    .icon {
      height: 1em;
      display: inline-block;
    }
    .twitter {
      .icon-twitter {
        width: 20px;
      }
    }
    .facebook {
      padding-left: 1px;
      .icon-facebook {
        width: 16px;
        margin-right: 4px;
      }
    }
    &.-center {
      text-align: center;
    }
    &.-full {
      width: 100%;
      display: block;
    }
  }
  // Full-width blocks
  &.-full {
    width: 100%;
    display: block;
  }
  // Callout blocks with big bold title and link to action
  &.-callout {
    .block-content {
      h3 {
        background: none;
        font-size: 1.875em;
      }
      h4 {
        color: $white;
        font-size: .75em;
        position: relative;
        @include font-bold();
        display: inline-block;
        @include dots($white);
        padding-bottom: 0.25em;
      }
    }
  }
  // Blocks with full-width/height images
  &.-image-cover {
    padding: 0;
    min-height: 300px;
  }
  // Blocks that are split into vertical sections inside
  &.-column {
    padding: 0;
    flex-direction: column;
    .block-content {
      margin: 0;
      flex-grow: 1;
      padding: 24px;
      &.-image-cover {
        padding: 0;
        width: 100%;
        min-height: 200px;
        background-size: cover;
        img {
          width: 100%;
          height: auto;
          display: block;
          max-width: none;
        }
      }
      &.-bottom-third {
        z-index: 1;
        height: auto;
        position: relative;
        h4 {
          margin-top: 0;
        }
        &.-pink {
          background: $brand-main;
        }
      }
      &.image-slide {
        padding: 0;
        max-height: 350px;
      }
    }
    // No padding for accordions in column-style blocks
    .accordion {
      .block-content {
        padding: 0;
        margin: 0 auto;
      }
    }
  }
  // Blocks that are gray
  &.-gray {
    background: $sheer1;
    .block-content {
      h3 {
        color: $brand-main;
      }
      p {
        color: $black;
      }
      strong {
        color: $brand-main;
      }
      .icon {
        fill: $brand-main;
      }
    }
  }
  // Blocks that are pink
  &.-pink {
    background: $brand-main;
    .block-content {
      h3, h4, p, ul, ol {
        color: $white;
      }
      .icon {
        fill: $white;
      }
    }
  }
}

// Blocks that are full-bleed image sliders
.image-slide {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  .block-content {
    margin: 0;
    &.image-slide {
      .slick-slider {
        margin: 0;
      }
      .slick-list {
        margin: 0;
      }
      .item {
        position: relative;
        img {
          width: 100%;
        }
      }
      .slick-next, .slick-prev {
        bottom: 33px;
      }
      .slider-caption {
        bottom: 0;
        z-index: 1;
        width: 100%;
        padding: 0 12px;
        position: absolute;
        background: $brand-main;
        p {
          text-align: center;
        }
      }
    }
  }

  @include min-screen($bpSmall) {
    .block-content {
      &.image-slide {
        .slider-caption {
          padding: 0 62px;
        }
      }
    }
  }
}

// Blocks that are sliders
.block-slider {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  .block-content {
    margin: 0 auto;
    position: relative;
    .block-content-slider {
      position: static;
      padding-bottom: 80px;
      .slick-slide {
        ul {
          font-size: 0.625em;
        }
      }
      .slick-dots {
        li {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .slick-next,
  .slick-prev {
    top: 50%;
    margin: 0;
    z-index: 1;
    opacity: 1;
    width: 50px;
    height: 50px;
    border: none;
    line-height: 40px;
    position: absolute;
    background: $sheer2;
    transform: translateY(-50%);
    transition: background 0.2s ease-out;
    &::before {
      opacity: 1;
      width: 16px;
      height: 40px;
    }
  }
  .slick-prev {
    left: -12px;
    padding-left: 16px;
    &::before {
      content: '';
      float: left;
      background: asset-url('arrow-left.svg') no-repeat;
      background-position: center left;
    }
    &:hover, &:focus, &:active {
      background: $sheer3;
    }
  }
  .slick-next {
    right: -12px;
    color: $white;
    background: $brand-main;
    padding-right: 16px;
    &::before {
      content: '';
      float: right;
      margin-left: 12px;
      background: asset-url('arrow-right.svg') no-repeat;
      background-position: center right;
    }
    &:hover, &:focus {
      background: $lightPink;
    }
  }
  .slick-list {
    margin: 0 50px;
    position: static;
  }
  .slick-dots {
    bottom: 14px;
    li {
      button {
        &::before {
          opacity: 1;
          width: 12px;
          content: '';
          height: 12px;
          border-radius: 50%;
          background: $sheer2;
          transition: background 0.2s ease-out;
        }
        &:hover {
          &::before {
            background: $sheer3;
          }
        }
      }
      &.slick-active {
        button {
          &::before {
            background: $brand-main;
          }
        }
      }
      &::before {
        display: none;
      }
    }
  }
}

// Blocks that are also accordions
.accordion {
  padding: 0 24px;
  max-height: 86px;
  overflow: hidden;
  position: relative;
  transition: background 0.4s ease-out, max-height 0.4s cubic-bezier(1, 0.5, 0, 1);
  @include min-screen($bpSmall) {
    padding: 0 50px;
  }
  &.-last {
    .accordion-trigger {
      background: none;
    }
  }
  &:hover, &:focus, &:active {
    background: $sheer2;
    .accordion-trigger {
      .actions {
        .plus-x {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.active {
    background: $brand-main;
    max-height: 2000px;
    .accordion-trigger {
      @include dots($white);
      &:hover, &:focus, &:active {
        .actions {
          .plus-x {
            transform: rotate(-315deg) scale(1.1);
          }
        }
      }
      h3 {
        color: $white;
      }
      .actions {
        .icon-mail {
          stroke: $white;
        }
        .icon-document {
          fill: $white;
          stroke: $white;
        }
        .plus-x {
          background: $white;
          transform: rotate(495deg);
          &::before {
            background: $white;
          }
        }
      }
    }
    .accordion-content {
      opacity: 1;
      max-height: 9000px;
      > div {
        padding: 25px 0 50px;
        &.panes {
          // padding: 25px 0 100px;
        }
        &.full-bleed {
          padding: 0;
          img {
            display: block;
          }
        }
      }
    }
  }
  .accordion-trigger {
    cursor: pointer;
    padding: 25px 0;
    position: relative;
    @include clearfix();
    @include dots($black);
    h3 {
      margin: 0;
      padding: 0;
      line-height: 1em;
      background: none;
      padding-right: 60px;
      transition: color 0.2s ease-out;
    }
    .actions {
      top: 50%;
      right: 0;
      position: absolute;
      transform: translateY(-50%);
      .icon-mail {
        width: 18px;
        height: 15px;
        stroke: $brand-main;
        stroke-width: 1.5;
        margin: 2px 12px 0 0;
        display: inline-block;
        transition: stroke 0.2s ease-out;
      }
      .icon-document {
        width: 18px;
        fill: $brand-main;
        height: 17px;
        stroke: $brand-main;
        stroke-width: 1.5;
        margin: 0 12px 0 0;
        transition: stroke 0.2s ease-out, fill 0.2s ease-out;
      }
      .icon-bars {
        width: 26px;
        height: 15px;
        fill: $brand-main;
        margin: 0 12px 0 0;
        transition: fill 0.2s ease-out;
      }
      .icon-play {
        top: 2px;
        width: 23px;
        height: 24px;
        stroke-width: 5px;
        fill: $brand-main;
        position: relative;
        stroke: $brand-main;
        margin: 0  12px 0 0;
        transition: fill 0.2s ease-out;
      }
      .plus-x {
        margin-bottom: 6px;
        display: inline-block;
      }
    }
  }
  .block-content {
    padding: 0;
    margin: 0 auto;
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    @include clearfix();
    transition: max-height 0.4s cubic-bezier(1, 0.5, 0, 1), opacity 0.4s ease-out;
    > div {
      padding: 0;
      transition: padding 0.4s ease-out;
    }
    p {
      color: $white;
      font-size: 1em;
      &:first-of-type {
        margin-top: 0;
      }
    }
    form {
      .submit {
        margin-top: 25px;
      }
    }
  }

  // Pink variation
  &.-pink {
    &:hover, &:focus, &:active {
      background: $brand-main-lite;
    }
    .accordion-trigger {
      @include dots($white);
      .actions {
        .icon-mail {
          stroke: $white;
        }
        .icon-document {
          fill: $white;
          stroke: $white;
        }
        .icon-bars {
          fill: $white;
        }
        .icon-play {
          fill: $white;
          stroke: $white;
        }
      }
    }
  }
}

// Reason blocks
.reason-blocks {
  margin-bottom: 0;
  .reason-block {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    &:hover, &:focus, &:active {
      img {
        transform: scale(1) translateX(-50%);
      }
      a {
        background: rgba(229, 76, 151, 0.75);
      }
      .block-content {
        transform: scale(1.1);
      }
    }
    a {
      z-index: 1;
      width: 100%;
      display: block;
      position: relative;
      padding: 20% 25px;
      background: rgba(0,0,0, 0.4);
      transition: background 0.2s ease-out;
    }
    img {
      top: 0;
      left: 50%;
      bottom: 0;
      z-index: 0;
      width: auto;
      max-width: none;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      transition: transform 4.5s ease-out;
      transform: scale(1.1) translate(-50%);
      transform-origin: top left;
    }
    .block-content {
      color: $white;
      margin: 0 auto;
      max-width: 200px;
      text-align: center;
      transition: transform 3.5s ease-out;
      h3 {
        background: none;
      }
      .donate {
        margin: 1em 0;
        display: block;
      }
      p {
        font-size: 1em;
        margin: 1em auto 0;
        display: inline-block;
        @include dots($white);
      }
    }
  }
}

// Blocks with Panes
.panes {
  width: 100%;
  position: relative;
  padding-bottom: 100px;
}
.pane {
  opacity: 0;
  display: none;
  @include clearfix();
  transition: opacity 0.2s ease-out, left 0.2s cubic-bezier(1, 0.5, 0, 1);
  &.active {
    opacity: 1;
    display: block;
    @extend .animated;
    animation-name: inRight;
    animation-duration: 0.4s;
  }
  &.inactive {
    @extend .animated;
    animation-name: outLeft;
    animation-duration: 0.4s;
  }
  .pane-devance {
    width: 100%;
    margin-top: 24px;
    text-align: center;
  }
}

// Block lists
.block-list {
  padding: 0;
  .block-content {
    margin: 0;
    width: 100%;
    padding: 12px 0;
  }
  ol, ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      .list-item {
        display: block;
        padding: 0 24px;
        background: rgba(0,0,0,0);
        transition: background 0.2s ease-out;
        &:hover, &:focus, &:active {
          background: rgba(217,217,217,0.7);
          .list-icon {
            .plus-arrow {
              @extend .plus-arrow--hover;
            }
            .down-arrow {
              @extend .down-arrow--hover;
            }
          }
        }
        .list-wrap {
          width: 100%;
          display: flex;
          padding: 12px 0;
          position: relative;
          @include dots($darkGray);
        }
      }
    }
  }
  .list-number {
    width: 30px;
    text-align: center;
    color: $brand-main;
    margin-right: 1em;
    font-size: 1.875em;
    line-height: 0.75em;
    vertical-align: top;
    @include font-bold();
  }
  .list-text {
    padding-right: 24px;
    h4 {
      margin: 0;
      color: $brand-main;
      font-size: 0.75em;
    }
    p {
      margin: 0;
      font-size: 0.625em;
    }
  }
  .list-icon {
    top: 50%;
    right: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
  }
  .last-item {
    .list-item {
      .list-wrap {
        background: none;
      }
    }
  }
  .list-item-form {
    .list-item {
      &:hover, &:focus, &:active {
        background: none;
      }
      .list-wrap {
        display: block;
      }
    }
    .list-number {
      float: left;
      margin-right: 0;
    }
    .list-text {
      float: left;
      padding-left: 22px;
      h4 {
        br {
          display: none;
        }
      }
    }
    .form {
      clear: left;
      padding-left: 40px;
    }
    .donate {
      margin-top: 3px;
      input {
        height: 37px;
        max-width: 140px;
      }
    }
  }
  // Pink variation
  &.-pink {
    .block-content {
      ol {
        li {
          .list-item {
            &:hover, &:focus, &:active {
              background: $lightPink;
            }
            .list-wrap {
              @include dots($white);
            }
          }
          &.last-item {
            .list-item {
              .list-wrap {
                background: none;
              }
            }
          }
        }
      }
      .list-number {
        color: $white;
      }
      .list-text {
        h4 {
          color: $white;
        }
      }
    }
  }
}

@include min-screen($bpMed) {
  .blocks {
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
  }
  .block {
    width: 50%;
    padding: 50px 100px;
    display: flex;
    &.-full {
      width: 100%;
    }
    &.-callout {
      .block-content {
        h3 {
          font-size: 3.375em;
        }
        h4 {
          font-size: 1.125em;
        }
      }
    }
    &.-column {
      .block-content {
        padding: 50px;
        overflow: hidden;
        &.-top-two-thirds {
          min-height: 300px;
        }
      }
      .image-slide {
        padding: 0;
      }
    }
    .block-content {
      margin: auto;
      h3 {
        font-size: 2.25em;
      }
    }
  }

  .image-slide {
    padding: 0;
    .block-content {
      &.image-slide {
        .slick-next, .slick-prev {
          bottom: 58px;
        }
        .item {
          img {
            width: auto;
            min-width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  .block-slider {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    .block-content {
      margin: 0 auto;
      .block-content-slider {
        .slick-slide {
          ul {
            font-size: 1em;
          }
        }
      }
    }
    .slick-next,
    .slick-prev {
      top: auto;
      bottom: 0;
      transform: translateY(0);
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }

  // Blocks that are also accordions
  .accordion {
    padding: 0 100px;
    .accordion-trigger {
      position: relative;
      .actions {
        top: 50%;
        right: 0;
        position: absolute;
        transform: translateY(-50%);
        .icon-mail {
          width: 27px;
          height: 18px;
          margin-top: 8px;
        }
        .icon-document {
          width: 23px;
          height: 24px;
          margin: 6px 12px 0 0;
        }
        .plus-x {
          margin: 0 0 8px;
        }
      }
    }
    .accordion-content {
      > div.one-half-left {
        padding-right: 50px;
      }
      .one-half-right.full-bleed {
        top: -25px;
        width: calc(50% + 100px) !important;
        height: calc(100% + 125px);
      }
      form {
        .submit {
          // position: absolute;
          // right: 0;
          // bottom: 0;
          width: auto;
          color: $brand-main;
          border: none;
          margin-top: 0;
          background: rgba(253, 239, 246, 1);
          &:hover, &:focus, &:active {
            background: rgba(253, 239, 246, 0.8);
          }
        }
      }
      // .pane {
      //   form {
      //     .submit {
      //       right: -100px;
      //       bottom: -100px;
      //     }
      //   }
      // }
    }
  }

  // Reason blocks
  .reason-blocks {
    flex-wrap: wrap;
    .reason-block {
      float: left;
      margin-left: 25px;
      margin-bottom: 25px;
      width: calc(33.33% - 16.666666667px);
      &:nth-child(3n+1) {
        margin-left: 0;
      }
      .block-content {
        h3 {
          font-size: 1.125em;
        }
      }
    }
  }

  // Panes
  .panes {
    .pane, .pane-form {
      > .one-half-left {
        padding-right: 50px;
      }
    }
    .pane {
      .pane-devance {
        width: auto;
        left: -100px;
        border: none;
        margin-top: 0;
        bottom: -100px;
        position: absolute;
      }
    }
  }

  .block-list {
    padding: 0;
    .block-content {
      padding: 25px 0;
    }
    ol {
      li {
        .list-item {
          padding: 0 50px;
          .list-wrap {
            padding: 25px 0;
          }
        }
      }
    }
    .list-number {
      font-size: 3.375em;
    }
    .list-text {
      h4 {
        font-size: 1.125em;
      }
      p {
        font-size: 0.8125em;
      }
    }
    .list-item-form {
      .form {
        padding-left: 54px;
      }
    }
  }
}

@include min-screen(1375px) {
  .block.block-list {
    .list-item-form {
      .list-item {
        .list-wrap {
          display: flex;
        }
      }
      .list-number {
        float: none;
        margin-right: 1em;
      }
      .list-text {
        float: none;
        padding-left: 0;
        h4 {
          br {
            display: block;
          }
        }
      }
      .donate {
        input {
          max-width: 200px;
        }
      }
    }
  }
}