// Cart Module

.cart {
  top: 0;
  bottom: 0;
  z-index: 4;
  left: 100%;
  width: 100%;
  color: $white;
  overflow: auto;
  position: fixed;
  @include clearfix();
  transition: transform 0.2s ease-out, left 0.2s ease-out;
  &.active {
    left: 0;
  }

  .disabled {
    opacity: .5;
  }

  #checkout.working {
    input,
    .stage-submit,
    .form-content {
      transition: opacity 1s;
      opacity: .5;
    }
  }

  h3 {
    margin: 0 50px 0.5em;
    padding-bottom: 0.25em;
    @include dots($white, 6px);
  }

  .cart-stage {
    width: 100%;
    height: auto;
    color: $white;
    display: block;
    position: relative;
    padding: 29px 0 29px;
    background: $brand-main;
    &.-pink {
      color: $white;
      background: $brand-main;
    }
    &.-gray {
      background: $lightGray;
      color: $brand-main;
      h3 {
        @include dots($black, 6px);
      }
    }
  }

  .form-content {
    padding: 0 50px 1em;
  }

  &.empty .cart-review .actions {
    display: none;
  }

  &.review-stage .cart-review,
  &.checkout-stage .cart-checkout,
  &.payment-stage .cart-payment {
    .cart-close {
      display: block;
    }
  }

  // Cart Accordion Toggle (only usable between 600px - 1200px)
  .cart-accordion-toggle {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    display: none;
    cursor: pointer;
    padding-top: 14px;
    position: absolute;
    text-align: center;
    background: rgba(0,0,0,0);
    transition: background 0.2s ease-out;
    &:hover, &:focus {
      background: rgba(0,0,0,0.1);
    }
    .icon {
      transition: opacity 0.2s ease-out;
    }
    .icon-cart {
      width: 23px;
      fill: $white;
      height: 14px;
      stroke: $white;
      stroke-width: 0;
    }
    .icon-document {
      width: 22px;
      height: 18px;
      fill: $brand-main;
      stroke: $brand-main;
    }
    // back arrow
    .icon-arrow-left-colorless {
      left: 13px;
      width: 20px;
      height: 20px;
      bottom: 58px;
      fill: $white;
      stroke: $white;
      stroke-width: 4px;
      position: absolute;
      stroke-linecap: round;
      &.-pink {
        fill: $brand-main;
        stroke: $brand-main;
      }
    }
  }

  // Cart close button
  .cart-close {
    top: 10px;
    z-index: 5;
    right: 10px;
    height: 20px;
    padding: 10px 5px;
    display: none;
    position: absolute;
  }

  form {
    height: 100%;
    input, label {
      width: 100%;
      max-width: 100%;
      white-space: normal;
      font-size: 0.8125em;
    }
    legend {
      width: 100%;
      max-width: 100%;
      white-space: normal;
    }
    input {
      padding: 0.45em 0.5em;
      &:focus, &:active {
        background: rgba(255,255,255,0.8);
      }
      @include placeholder {
        color: $sheer3;
        line-height: 1.5em;
        vertical-align: text-bottom;
      }
      &.btn {
        font-size: 1em;
        padding: 0.5em 1em;
      }
    }

    .form-group {
      margin-top: 10px;
      &:first-of-type {
        margin-top: 0;
      }
      div {
        margin-top: 0;
      }
    }

    &.-pink {
      input {
        color: $black;
      }
      .custom-select select {
        color: $black;
      }
    }

    .custom-select select {
      &:focus, &:active {
        background: rgba(255,255,255,0.8);
      }
    }

    .custom-checkbox-wrap {
      input {
        &:focus {
          ~ label {
            background: rgba(255,255,255,0.8);
          }
        }
      }
      label {    
        max-width: none;
        margin-top: -1em;
        margin-left: -0.5em;
        width: calc(100% + 1em);
        padding: 0.5em 0.5em 0.5em 2em;
      }
    }
  
    .custom-checkbox {
      &::after {
        top: 0.6em;
        left: 0.5em;
      }
    }
  }

  .actions {
    width: 100%;
    padding: 0 50px;
    margin-top: 25px;
    text-align: center;
    .btn {
      margin: 0;
      width: 100%;
    }
  }

  .cart-review {
    padding: 25px 0;
    h3 {
      margin: 0 50px 0.5em;
    }
    p {
      margin: .5em 50px;
      font-size: 0.8125em;
    }
  }
  .cart-checkout {
    padding-bottom: 0;
    .one-half-right {
      label {
        margin-top: 10px;
        padding-bottom: 0;
      }
    }
    .actions {
      margin-top: 0;
      .stage-submit {
        display: none;
      }
    }
  }

  .paypal-submit {
    display: none;
  }

  .cart-items {
    margin: 0;
    padding: 0;
    font-size: 0.8125em;
    .cart-total,
    .cart-item {
      opacity: 1;
      list-style: none;
      padding: 0 50px 0;
      position: relative;
      transform: scaleY(1);
      margin-bottom: 0.75em;
      background: $brand-main;
      transition: transform 0.25s ease-out, opacity 0.25s ease-out;
      &.-removed {
        opacity: 0;
        transform: translateX(-100%);
      }
    }
    p {
      font-size: 1em;
      margin: 0.5em 0;
    }
    .item-title {
      @include font-bold();
    }
    .item-remove {
      right: 50px;
      bottom: 0.5em;
      padding: 0.5rem;
      position: absolute;
      .x {
        transform: rotate(45deg) scale(0.6);
      }
    }
    .item-amount {
      padding-bottom: 0.5em;
      @include dots($white, 6px);
      input {
        color: $white;
        max-width: 60px;
        display: inline-block;
        padding: 0.25em;
        &:focus {
          color: $brand-main;
        }
      }
    }
  }

    // Checkout stage toggle on small-screens
  @include max-screen(600px) {
    bottom: auto;

    &.checkout-stage {
      bottom: 0;
      .cart-checkout,
      .cart-payment {
        bottom: auto;
        position: relative;
        transform: translateY(0);
      }
    }

    form {
      height: auto;
    }

    .cart-review {
      z-index: 1;
    }
    .cart-checkout {
      bottom: 100%;
      position: absolute;
      transform: translateY(-100%);
      transition: transform 0.2s ease-out;
    }
    .cart-payment {
      bottom: 100%;
      position: absolute;
      transform: translateY(-100%);
      transition: transform 0.2s ease-out;
    }
  }

  @include min-screen(600px) {
    right: 0;
    left: auto;
    width: 1200px;
    position: fixed;
    overflow: visible;
    transform: translateX(100%);
    &.active {
      left: auto;
      transform: translateX(800px);
    }
    &.checkout-stage {
      .cart-review {
        transform: translateX(-50px);
      }
    }
    &.payment-stage {
      .cart-review {
        transform: translateX(-100px);
      }
      .cart-checkout {
        transform: translateX(-50px);
      }
    }

    .cart-checkout, .cart-payment {
      box-shadow: -3px 0 0 rgba(0,0,0,0.1);
    }

    .cart-stage {
      height: 100%;
      width: 400px;
      position: absolute;
      transform: translateX(400px);
      transition: left 0.2s ease-out, transform 0.2s ease-out;
      &.active-stage {
        transform: translateX(0);
        .cart-accordion-toggle {
          display: none;
        }
        h3 {
          top: auto;
          left: auto;
          display: block;
          transform: none;
          position: relative;
        }
      }
      &.-gray {
        .actions {
          background: $lightGray;
          &::before {
            @include dots($black, 6px);
          }
        }
      }
      
      .cart-accordion-toggle {
        display: block;
        .icon {
          opacity: 1;
        }
      }
      h3 {
        top: 50px;
        z-index: 1;
        padding: 0;
        left: -14px;
        width: auto;
        position: absolute;
        display: inline-block;
        transform-origin: 0 0;
        transform: rotate(-90deg) translateY(-100%) translateX(-100%);
      }

      &.-pink {
        .actions {
          background: $brand-main;
          &::before {
            @include dots($white, 6px);
          }
        }
      }
    }

    .cart-review {
      .actions {
        .stage-submit {
          display: inline-block;
        }
      }
    }
    .cart-checkout {
      padding-bottom: 29px;
      .one-half-right {
        label {
          margin-top: 0;
        }
      }
      .actions {
        margin-top: 25px;
        .stage-submit {
          display: inline-block;
        }
      }
    }

    .form-content {
      overflow: auto;
      height: calc(100% - 136px);
    }

    .actions {
      left: 0;
      bottom: 0;
      z-index: 1;
      margin-top: 0;
      padding: 50px;
      position: absolute;
      &::before {
        top: 9px;
        left: 50px;
        right: 50px;
        height: 1px;
        content: '';
        position: absolute;
      }
      .btn {
        width: auto;
      }
    }

    form {
      input {
        padding: 0.5em 1em;
      }

      .form-group {
        margin-top: 16px;
        &:first-of-type {
          margin-top: 0;
        }
        .one-half-left {
          width: 50%;
          float: left;
          padding-right: 25px;
        }
        .one-half-right {
          width: 50%;
          float: left;
          padding-left: 25px;
        }
      }
    }
  }

  @include min-screen(1200px) {
    &.active {
      left: auto;
      transform: translateX(800px);
    }
    &.checkout-stage {
      transform: translateX(400px);
    }
    &.payment-stage {
      transform: translateX(0);
    }

    .cart-stage {
      float: left;
      position: relative;
      transform: translateX(0);
      .cart-accordion-toggle {
        display: none;
      }
      h3 {
        top: auto;
        left: auto;
        display: block;
        transform: none;
        position: relative;
      }
    }


    .cart-checkout, .cart-payment {
      box-shadow: none;
    }

    &.checkout-stage {
      .cart-review {
        transform: translateX(0);
      }
    }
    &.payment-stage {
      .cart-review {
        transform: translateX(0);
      }
      .cart-checkout {
        transform: translateX(0);
      }
    }
  }

  #braintree-paypal-loggedin,
  #braintree-paypal-button {
    margin: 10px auto;
    border: none !important;
  }
  #braintree-paypal-loggedin {
    margin: 0 auto 25px;
    padding: 0 !important;
  }
  span#bt-pp-email {
    color: $white !important;
  }
  button#bt-pp-cancel {
    color: $black !important;
  }
}