// Feature slider

.slider-wrap {
  height: auto;
  padding: 12px;
  transition: height 0.2s ease-out;
  &.video-expanded {
    .feature-slider {
       height: 100%;
    }
    .scroll-down {
      .icon {
        opacity: 0;
      }
      .x {
        opacity: 1
      }
    }
  }
  @include min-screen($bpMed) {
    padding: 25px;
    overflow: hidden;
    transform-origin: top;
  }
}

.feature-slider {
  height: auto;
  overflow: hidden;
  position: relative;
  transition: height .2s ease-out;
  .slick-list,
  .slick-track {
    height: auto;
  }
  .feature {
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
    &.slick-active {
      z-index: 1;
      .feature-content {
        opacity: 1;
        .progress-bar {
          .bar {
          }
        }
      }
    }
    .feature-content {
      opacity: 0;
    }
  }

  .slick-prev, .slick-next {
    top: auto;
    bottom: 0;
    z-index: 1;
    width: 48px;  
    height: 42px; 
    opacity: 0.7;
    text-indent: 100%;
    margin: -21px 0 0;
    white-space: nowrap;
    background: rgba(0,0,0,0.15);
    transition: transform 0.2s ease-out, background 0.2s ease-out;
    &::before {
      top: 11px;
      left: 16px;
      content: ''; 
      width: 12px; 
      height: 20px;
      position: absolute;
      background: asset-url('arrow-left.svg'); 
    }
    &:hover {
      background: #CD518D;
      transform: scaleX(1.1);
    }
  }
  .slick-prev {
    left: 0;
    transform-origin: left;
  }
  .slick-next {
    right: 0;
    transform-origin: right;
    &::before {
      left: auto;
      right: 16px;
      content: '';
      background: asset-url('arrow-right.svg');       
    }
  }

  .slick-dots {
    bottom: 38px;
    padding: 0 20px;
    line-height: 1em;
    li {
      button {
        &::before {
          color: $white;
          font-size: 40px;
        }
        &:hover {
          &::before {
            opacity: 0.75;
          }
        }
      }
      &.slick-active {
        button {
          &::before {
            color: $brand-main;
          }
        }
      }
    }
  }

  @include min-screen($bpMed) {
    height: 100%;
    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-dots {
      bottom: 50px;
    }
  }
}

.feature {
  height: 100%;
  position: relative;
  .feature-image {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background: $brand-main;
    background-repeat: no-repeat;
    background-position: top center;
    &::before {
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 150%;
      content: '';
      position: absolute;
      background: rgba(0,0,0,0.35);
    }
  }
  .feature-content-wrap {
    height: 100%;
  }
  .feature-content {
    z-index: 1;
    margin: auto;
    position: relative;
    text-align: center;
    padding: 100px 12px 100px;
    transition: opacity 1s ease-out;
    h2 {
      width: 100%;
      color: $white;
      margin: 0 auto;
      max-width: 800px;
      font-size: 1.875em;
      a {
        width: auto;
        color: inherit;
        display: inline-block;
        transition: color 0.2s ease-out;
        &:hover, &:focus {
          color: $brand-main;
        }
      }
    }
    p {
      color: $white;
      font-size: 1em;
      max-width: 300px;
      margin: 1.5em auto;
    }
    .learn-more {
      width: auto;
      display: inline-block;

      color: $white;
      text-decoration: underline;
      transition: color 0.2s ease-out;
      &:hover, &:focus, &:active {
        color: $brand-main;
      }
    }
    .progress-bar {
      height: 36px;
      width: 320px;
      margin: 0 auto;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      border: 2px solid $white;
      background: rgba(255,255,255,0.15);
      .progress-text {
        margin: 0;
        z-index: 1;
        height: 100%;
        max-width: 100%;
        text-align: left;
        padding: 8px 12px;
        position: relative;
        vertical-align: middle;
        transition: transform 0.2s ease-out;
      }
      .thanks-bar,
      .bar {
        top: 0;
        left: 0;
        z-index: 0;
        width: 0;
        height: 100%;
        color: $white;
        background: $brand-main;
        position: absolute;
      }
      .thanks-bar {
        background: $brand-main-lite;
      }
    }  
    .feature-action {
      max-width: 320px;
      margin: 2.5em auto 0;
      position: relative;
      @include clearfix();
      .btn {
        width: 100%;
        margin: -2px auto 0;
      }

      .initial-actions {
        .donation-toggle {
          visibility: visible;
        }
        &.inactive {
          .progress-bar {
            .progress-text,
            .bar {
              transform: translateX(-100%);
            }
          }
          .donation-toggle {
            visibility: hidden;
          }
        }
      }

      .feature-form {
        @include clearfix();
      }

      .donate {
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        position: absolute;
        input {
          width: 100%;
          max-width: none;
        }
        .submit {
          margin-top: 0;
        }
        &.focused {
          display: block;
          .submit {
            animation-duration: 1s;
            animation-name: flipInX;
          }
        }
      }
    }

  }

  .video-toggle {
    margin: 2em auto 0;
    display: inline-block;
    &:hover, &:focus {
      .icon {
        fill: $brand-main;
        stroke: $brand-main;
        transform: scale(1.05);
      }
    }
    .icon {
      width: 70px;
      height: 70px;
      fill: $white;
      stroke: $white;
      stroke-width: 3px;
      transition: transform 0.5s ease-out, stroke 0.2s ease-out, fill 0.2s ease-out;
    }
  }
}

@include min-screen($bpMed) {
  .feature-slider {
    .slick-next,
    .slick-prev {
      top: 50%;
      bottom: auto;
    }
  }

  .feature {
    .feature-content-wrap {
      display: block;
      .video-toggle {
        top: 50%;
        left: 50%;
        margin: 0;
        z-index: 2;
        width: auto;
        height: auto;
        position: absolute;
        transform: translate(-50%, -50%);
        &.-mobile-only {
          display: none;
        }
      }
    }
    .feature-content {
      width: 100%;
      display: flex;
      min-height: 440px;
      align-items: flex-end;
      padding: 160px 25px 100px;
      justify-content: space-between;
      h2 {
        margin: 0;
        font-size: 2.5em;
      }
      p {
        font-size: 1.125em;
      }

      .feature-text {
        flex-basis: 50%;
        max-width: 600px;
        text-align: left;
        padding-right: 60px;
      }
      .description {
        padding-top: 20px;
        p {
          margin: 0;
          max-width: none;
        }
      }
      .learn-more {
        font-size: 1em;
        line-height: 1em;
        margin-top: 1.5em;
        padding: 0.5em 1em;
        @include font-bold();
        text-decoration: none;
        border: 2px solid rgba(255,255,255,0);
        @include btn($white, $brand-main, solid);
        transition: border-color 0.2s ease-out, background 0.2s ease-out, color 0.2s ease-out;
      }
      .feature-action {
        margin: 0;
        width: 100%;
        max-width: none;
        flex-basis: 50%;
        .initial-actions {
          float: right;
        }
      }
    }
  }
}

@include min-screen($bpBig) {
  .feature {
    .feature-content {
      h2 {
        font-size: 3em;
      }
      .progress-bar {
        float: left;
        width: 314px;
        .progress-text {
          padding: 6px 12px;
        }
      }

      .feature-action {
        .btn {
          float: left;
          width: 146px;
          margin: 0 0 0 -2px;
        }

        .initial-actions {
          float: right;
          &.single-reason {
            .progress-bar {
              float: none;
            }
          }
        }

        .progress-bar {
          margin: 0;
          display: inline-block;
        }

        .donate {
          width: 458px;
          max-width: none;
          .text-input {
            float: left;
            width: 312px;
          }
          .submit {
            float: left;
            width: 146px;
            margin-left: 0;
          }
        }
      }
    }
  }
}