// Reasons Slider

.reasons-slider {
  .reason-block {
    margin: 0;
  }

  .slick-list {
    width: 100%;
  }

  .slick-next,
  .slick-prev {
    top: auto;
    bottom: 0;
    margin: 0;
    z-index: 1;
    opacity: 1;
    width: 50px;
    height: 50px;
    border: none;
    line-height: 40px;
    position: absolute;
    background: $sheer2;
    transition: background 0.2s ease-out;
    &::before {
      opacity: 1;
      width: 16px;
      height: 40px;
    }
  }
  .slick-prev {
    left: 0;
    padding-left: 16px;
    &::before {
      content: '';
      float: left;
      background: asset-url('arrow-left.svg') no-repeat;
      background-position: center left;
    }
    &:hover, &:focus, &:active {
      background: $sheer3;
    }
  }
  .slick-next {
    right: 0;
    color: $white;
    background: $brand-main;
    padding-right: 16px;
    &::before {
      content: '';
      float: right;
      margin-left: 12px;
      background: asset-url('arrow-right.svg') no-repeat;
      background-position: center right;
    }
    &:hover, &:focus {
      background: $lightPink;
    }
  }
}