// Popup Video

.feature-video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  display: none;
  position: fixed;
  .feature-video-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,0.75); 
    transition: background 0.3s ease-out, opacity 1s ease-out;
    &:hover, &:focus {
      background: rgba(0,0,0,0.5);
    }
  }
  .video-wrap {
    left: 50%;
    top: -100%;
    z-index: 1;
    width: 100%;
    padding: 12px;
    margin: 0 auto;
    max-width: 800px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-out;
  }
  &.active {
    display: block;
    .feature-video-background {
      opacity: 1;
    }
    .video-wrap {
      opacity: 1;
    }
  }

  @include min-screen($bpMed) {
    .video-wrap {
      padding: 25px;
    }
  }
}