// Popup Video

.feature-video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  display: none;
  overflow: hidden;
  position: absolute;
  .feature-video-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,0.75); 
    transition: background 0.3s ease-out, opacity 1s ease-out;
    &:hover, &:focus {
      background: rgba(0,0,0,0.5);
    }
  }
  .video-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    transition: opacity 1s ease-out;
  }
  &.active {
    display: block;
    .feature-video-background {
      opacity: 1;
    }
    .video-wrap {
      opacity: 1;
    }
  }

  @include min-screen($bpMed) {

  }
}