<h1>Thank you for giving!</h1>

<h3>Here are the details of your donation:</h3>

<%= render "donation_details" -%>

<hr>

<p>Reason to Give is a registered 501(c)(3) organization. <br>
All donations are tax deductible to the fullest extent of the law.</p>

<h3>Reason to Give</h3>
<p>1402 N Western Ave<br>
Chicago IL 60622<br>
773-489-3439<br>
info@reasontogive.com<br>
https://www.facebook.com/reasontogive</p>