<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style type="text/css">
        body {
            width:100% !important;
            -webkit-text-size-adjust:none;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 22px;
            font-family: helvetica, sans-serif;
            color: #222;
        }
        a {
          color: #e54c97;
        }
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }
        table td {
            border-collapse: collapse;
        }
        p,
        li {
            font-size: 16px;
            line-height: 22px;
            font-family: helvetica, sans-serif;
            color: #222;
        }
        h1 {
            display: block;
            font-weight: bold;
            font-size: 32px;
            line-height: 31px;
            font-family: helvetica, sans-serif;
            color: #222;
        }
        h2 {
            display: block;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            font-family: helvetica, sans-serif;
            color: #222;
        }
        h3 {
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            font-family: helvetica, sans-serif;
            margin-bottom: 0;
            color: #222;
        }
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <center>
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
          <td bgcolor="#e54c97">
              <table cellspacing="0" cellpadding="0" border="0" width="600" height="80" align="center"><tr><td><img style="display:block" src="http://reasontogive.s3.amazonaws.com/email-header.png" width="600" height="80"></td></tr></table>
          </td>
      </tr>
      <tr>
          <td bgcolor="#ffffff">

            <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="20" border="0" width="560" align="center">
                            <tr>
                                <td bgcolor="#ffffff" style="text-align: left;">

                                <%= yield %>

                                </td>
                            </tr>
                        </table>
                        <br><br>
                    </td>
                </tr>
            </table>

          </td>
      </tr>
      </table>
  </center>
  </body>
</html>